.example-card{
    height: 330px;
    width: 320px;
    border-top: 5px solid #e84d3d;
    /* margin: auto;    */
    padding-top:10px !important; 
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}
.bt{
    background-color:  #e84d3d;  
    font-size: 12px;
    min-width: 65px !important;
    line-height: 25px !important;    
    padding: 0px !important;
    font-weight: 400;

}
.example-card img{
    
    display: block;
    margin: auto;  
    margin-bottom: 10px;

}
.mat-card-actions{
    margin-left: 0px;

}
.mat-card-actions p{
 font-size: 12px;
}

a{
    text-decoration: none;
}

.inn{
    display: flex;
    align-items: center;
    border: 1px solid #ced0d1;
    border-radius: 5px;
    overflow: hidden;
    width: 98%;
    height: 30px;
}
.inn input{
    height: 25px; 
    outline: none !important;
    font-size: 14px;
    padding:0px 5px;
    border: none;
    width: 100%;
    color: #555556;
}
.remember{
    display: flex;
    align-items: center;    
}
.rem{
    margin: 0px 0px;
    font-size: 12px;
    color: #555556;
    
}
.material-icons{
    font-size: 16px;   
    background-color: #eceeef;
    padding: 10px 7px;
    border-right: 1px solid #ced0d1;
}
::-webkit-input-placeholder{
    color:#797878;
}
body{
background-color: #dce1e5 !important;
}
.mrg{
    margin-top: 10px;
    margin-bottom: 5px;
}
.bt:disabled {
    background-color:  rgba(232, 78, 61, 0.712);  
    
    color: white;
}
.overlay{
    height: 350px;
    width: 368px;
    top: 0px;
    left: 0px;
    position: absolute;
   
    z-index:1;
   
}
.fade{
    height: 360px;
    width: 368px;
    opacity: .3;
    background-color: white;
}
.bar{
    width: 368px !important;
    // position: absolute;  
}
.forgot{
    margin: 10px 0px 10px 0px; 
}