
<mat-card class="example-card">
    <div  *ngIf="loginClick" class="overlay">
      
        <div class="fade"></div>
        <div class="bar">
            <mat-progress-bar  mode="indeterminate" color="warn"></mat-progress-bar>
        </div>          
    </div>
   
    <img src="../assets/Logo.png" alt="Cordis Logo">
    <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="inn">
            <i class="material-icons">person</i>
            <input type="text" placeholder="Username" class="form-control" formControlName="userName">          
        </div>
       
        <div class="inn mrg">
            <i class="material-icons">lock</i>
            <input type="password" placeholder="Password" class="form-control" formControlName="password">
        </div>
        <div class="remember">
            <input type="checkbox" checked  formControlName="rememberMe"><span class="rem">Remember Me</span>
        </div>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" class="bt" (click)="loginClick=true"  [disabled]="!loginForm.valid" >Login</button>
            <a href="#">
                <p class="forgot">Forgot Password</p>
            </a>
        </mat-card-actions>
        
    </form>
   
</mat-card>
