<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-nav-bar></app-nav-bar> -->
<!-- <a routerLink="/login"><button mat-raised-button color="accent">Login</button></a> -->
<router-outlet></router-outlet>
