<div class="nav">
  <app-nav-bar></app-nav-bar>
</div>
<div class="filler"></div>
<div class="container">
  <div class="left">left</div>
  <div class="center">
    <div class="searchBar">
        <i class="material-icons">search</i>
      <input type="text" placeholder="Search here...">
    </div>
    <div class="listContainer">
        <div class="list">
          <a href="" class="icon">
            <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
            <div>Title</div>
          </a>
          <div>01/01/2018</div>
          <div>AED 2000</div>
          <div>Check Status</div>
          <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
          </button>
        </div>

        <div class="list">
          <a href="" class="icon">
            <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
            <div>Title</div>
          </a>
          <div>01/01/2018</div>
          <div>AED 2000</div>
          <div>Check Status</div>
          <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
          </button>
        </div>

        <div class="list">
          <a href="" class="icon">
            <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
            <div>Title</div>
          </a>
          <div>01/01/2018</div>
          <div>AED 2000</div>
          <div>Check Status</div>        
          <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
          </button>
        </div>

        <div class="list">
            <a href="" class="icon">
              <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
              <div>Title</div>
            </a>
            <div>01/01/2018</div>
            <div>AED 2000</div>
            <div>Check Status</div>        
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
            </button>
        </div>

        <div class="list">
            <a href="" class="icon">
              <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
              <div>Title</div>
            </a>
            <div>01/01/2018</div>
            <div>AED 2000</div>
            <div>Check Status</div>        
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
            </button>
        </div>
        <div class="list">
            <a href="" class="icon">
              <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
              <div>Title</div>
            </a>
            <div>01/01/2018</div>
            <div>AED 2000</div>
            <div>Check Status</div>        
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
            </button>
        </div>

        <div class="list">
            <a href="" class="icon">
              <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
              <div>Title</div>
            </a>
            <div>01/01/2018</div>
            <div>AED 2000</div>
            <div>Check Status</div>        
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
            </button>
        </div>
        <div class="list">
            <a href="" class="icon">
              <img src="http://www.cinema-bio.ch/wp-content/uploads/2017/09/pdfaiman.png" alt="pdf file" width="25px" height="25px">
              <div>Title</div>
            </a>
            <div>01/01/2018</div>
            <div>AED 2000</div>
            <div>Check Status</div>        
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">remove_red_eye</mat-icon>
            </button>
        </div>
    </div>

  </div>
  <div class="right">right</div>
</div>