*{
    color: #6f6f6f;
    box-sizing: border-box;
    font-weight: 500;
}
.filler{
    height: 130px;
    width: 100%;
    background-color: #dce1e5;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.container{
    display: flex;
    max-width: 1400px;
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin: 20px auto 0px auto;
    padding-top: 130px;
    .left{      
        // flex: 1;
        width: 300px;
        height: 600px;
        
    }
    .right{
        // flex: 1.5;
        width: 400px;
        height: 600px;        
    }
    .center{
        // flex: 3;
        width: 700px;
        height: 600px;     
        
    }
}


.searchBar{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px #b3b6ba;
    position: fixed;
    top: 90px;
    width: 700px;
    z-index: 2;
    .material-icons{
        transform: scale(-1, 1);
        font-size: 21px;

    }
    input{
        font-size: 16px;
        padding-left: 10px;
        height: 35px;
        border: none;
        outline: none;
        width: 100%;
    }
 
}
.list{
    width: 100%;
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #dce1e5;
    font-size: 14px;
    font-family: 'roboto';
    border-left: 3px solid transparent;
    .icon{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .icon div{
        margin-left: 10px;
    }
   
}
.list:hover{
    background-color: #f4f7f9;
    border-left-color: #0091e5;

}    
.listContainer{
    box-shadow: 0px 0px 5px 1px #b3b6ba;
    
}

@media only screen and (max-width:1400px) {
    .container{
        max-width: 1100px !important;   
    }
    .searchBar{
        max-width: 550px !important;   

    }
  
}
@media only screen and (max-width:1100px) {
    .container{
        max-width: 880px !important;   
    }
    .searchBar{
        max-width: 440px !important;   

    }
  
}