<div class="container">
<nav class="navbar ">
  <a class="navbar-brand" href="#">
    <img  src="../../../../assets/blue-logo.png" width="30" height="30" alt="">
  </a>
  <div class="profile" >
    <img matTooltip="Info about the action" src="https://www.hlimg.com/images/stories/300X200/Cheetah-Selfie.jpg" alt="">
    <button  mat-icon-button>
        <mat-icon  [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </button>  
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <a href="/login" (click)="logout()" class="text" mat-menu-item><div>Logout</div></a>
    </mat-menu>
  </div>
 
</nav>
<div>
</div>
</div>