.navbar{
 background-color: white !important;
 box-shadow: 0px 0px 5px 1px #b3b6ba;
 border-radius: 3px;
 position: fixed;
 width: 1400px;
 height:56px ;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding: .5rem 1rem;
 box-sizing: border-box;
 z-index: 5;
}

.profile img{
 height: 40px;
 width: 40px;
 margin-right: 30px;
}
.profile{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1400px;
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
}


@media only screen and (max-width:1400px) {
    .container{
        max-width: 1100px !important;   
    }
    .navbar{
    max-width: 1100px !important;        
    margin: auto;
    }
}

@media only screen and (max-width:1100px) {
    .container{
        max-width: 880px !important;   
    }
    .navbar{
        max-width: 880px !important;        
        margin: auto;
    }
}